<form class="form-horizontal">

    <h2>MeatPack Settings</h2>
    <h4>General</h4>
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.meatpack.enableMeatPack">
                    Enable G-Code Compression
                </label>
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.meatpack.omitSpaces">
                    Remove All Whitespace ("G" Commands Only)
                </label>
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.meatpack.logTransmissionStats">
                    Show Transmission Statistics
                </label>
            </div>
        </div>
    </fieldset>
    <h4>Miscellaneous & Easter Eggs</h4>
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.plugins.meatpack.playSongOnPrintComplete">
                    Play the "Meatball" Song on Print Completion (M84)
                </label>
            </div>
        </div>
    </fieldset>
</form>