<form class="form-horizontal">

    <h4>General Settings</h4>
    <fieldset>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-bind="checked: settings.settings.plugins.meatpack.enableMeatPack">
                    Enable G-Code Compression
                </label>
            </div>
        </div>
    </fieldset>
</form>