<h4>MeatPack Settings</h4>
<form class="form-horizontal" id="settings_plugin_MeatPack_form">
    <label class="control-label">{{ _('Enable MeatPack') }}
    <div class="controls">
        <input type="checkbox" data-bind="checked: settingsViewModel.settings.plugins.MeatPack.enableMeatPack">
    </div>
    </label>
</form>
