<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('URL') }}</label>
        <div class="controls">
            <input type="checkbox" class="input-block-level"
                   data-bind="value: settings.plugins.meatpack.meatpack_enabled">
        </div>
    </div>
</form>